html {
  width: 100%;
  float: left;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100%;
  float: left;
  margin: 0;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #fff;
}
hr {
  background-color: #898989;
  height: 1px;
  border: none;
}
svg path {
  fill: #ec007a;
}
.main {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}